
/***** Estilos generales ******/

body {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	background-color: #02010a;
	margin: 0;
    padding: 0 0 20px 0;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

img{
	display: block;
	margin: auto;
	max-width: 85%;
    height: auto;
    box-shadow: 2px 2px #02010a;
}

.img-portafolio{
	padding-top: 20px;
    padding-bottom: 20px;
}

/* Para escritorio */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.contenido{
	width: 900px;
  	margin: 0px auto;
  	position: relative;
  	-webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 1s;
}
/***** animación ******/

@-webkit-keyframes example {
    0%   {top:150px;}
    60%  {top:-5px;}
    100%  {top:0px;}
}
@keyframes example {
    0%   {top:150px;}
    60%  {top:-5px;}
    100%  {top:0px;}
}

/***** Estilos cabecera generales ******/

.main-header {
	color: white;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
}
.main-header h1{
	text-shadow: 0px 2px 2px #02010a;
}
.main-header h1 p{
	padding-left: 20px;
	display: inline;
}
header.main-header nav{
	text-align: right;
	margin-top: 35px;
}
nav a {
	color: white;
	padding: 10px;
}
nav a:last-child {
	padding-right: 20px;
}



/**** imagen central ******/
.img-central{
	background-color: #82c3a6;
	padding-top: 20px;
	padding-bottom: 20px;
}

/**** imagen secundaria ******/
.img-sec{
	background-color: #d5c75f;
}
.img-sec img{
	border: 1px solid black;
}
.img-portafolio a {
	text-align: center;
	display: block;
}
#img-portafolio1 {
	-webkit-transition: -webkit-transform 2s;
    transition: border 2s, box-shadow 2s, transform 2s;
}
#img-portafolio1:hover{
	box-shadow: 2px 2px #82c3a6;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	border: none;
}
#img-portafolio2 {
	-webkit-transition: -webkit-transform 2s;
    transition: border 2s, box-shadow 2s, transform 2s;
}
#img-portafolio2:hover{
	box-shadow: 2px 2px #82c3a6;
	-webkit-transform: translate(20px, -5px);
	transform: translate(20px, -5px);
	border: none;
}

/***** Sección galería ****/
.imagen1{
	-webkit-filter: blur(10px);
    filter: blur(10px);
}
.imagen3{
	-webkit-filter: sepia(100%);
    filter: sepia(100%);
}
.imagen-par{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/***** Pie generico ****/
.pie-portafolio {
	background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
}
footer p, h2 {
	padding-left: 20px;
}

/* Para smartphones */
@media screen and (max-width: 480px){
	.contenido{
	width: 100%;
  	margin: 0px auto;
	}
	.col-1 {width: 100%;}
	.col-2 {width: 100%;}
	.col-3 {width: 100%;}
	.col-4 {width: 100%%;}
	.col-5 {width: 100%%;}
	.col-6 {width: 100%%;}
	.col-7 {width: 100%%;}
	.col-8 {width: 100%%;}
	.col-9 {width: 100%%;}
	.col-10 {width: 100%%;}
	.col-11 {width: 100%%;}
	.col-12 {width: 100%;}

	.main-header h1 p{
	display: inline-block;
	text-align: center;
	clear: both;
	}
}